*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Inter , Arial, Helvetica, sans-serif;
  background-color: #282726;
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
}

.app-header{
  text-align: center;
  max-width: 350px;
  margin-top: 2rem;
}

.app-header h1{
 margin: 1.2rem 0;
  color: #F9F4DA;
}

.app-header p{
  color: #8E8E8E;
}

.status{
  margin-top: 2rem;
  width: 350px;
  height: 60px;
  background-color: white;
}

.languages{
  margin-top: 2rem;
  max-width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.lang{
  padding: 0.3rem;
  border-radius: 0.2rem;
}

